<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>MovieApp</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}
        <h1>Users</h1>

        <div class="users-grid">
          {% for user in users %}
            <div class="user-card">
              {{ user.name }}
              <a href="{{ url_for('get_movies_route', user_id=user.id) }}" class="btn">
                View Movies
              </a>
            </div>
          {% endfor %}
        </div>

        <div>
          <form action="{{ url_for('create_user_route') }}" method="post">
            <label>
              Add New User
              <input type="text" name="name" placeholder="Name" />
            </label>
            <button type="submit" class="btn">Add User</button>
          </form>
        </div>
    {% endblock %}
  </body>
</html>
